:root {
    /* paleta de colores */
    --primary-solid: rgb(255, 51, 51);
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: rgb(29, 132, 181);
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: rgb(31, 31, 31);
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    /* background oscuro y claro: */
    --dark-bg--solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #ffffff;

    /* tipografias: */
    --base-font: Arial, Helvetica, sans-serif;
    --alternative-font: Verdana, Geneva, Tahoma, sans-serif;

    /* font-size */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* spacing */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

/* /saco los subrayados de los enlaces/ */
a {
    text-decoration:none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,
li {
    list-style-type: none;
    color: white;
}

p {
    font-size: 1.8em;
}

/* fijo el width que se referira siempre a la etiqueta del padre */
img {
    width: 100%;
}

/* limitamos el ancho del contenedor de la pagina a 1200px, que es lo maximo que crecera aun en resoluciones mayores */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* /header/ */
header {
    background-color: var(--dark-bg--solid);
    padding: var(--spacing-36);
    position: relative;
}

.nabvar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nabvar__logo {
    max-width: 300px;
}

.nabvar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
}



.nabvar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    position: relative;
    /* transition: background .3s ease-in-out;  */
}

.nabvar__link:hover {
    background-color: red;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;

}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--dark-bg--solid);
    width: 300px;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
}


/* filtro */


/* Estilos para el filtro de búsqueda */
.filter-container {
    float: left; /* Coloca el filtro a la izquierda */
    width: 20%; /* Ancho del filtro, ajusta según sea necesario */
    padding: 10px; /* Añade espacio interno al filtro */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.search,
.sort,
.price-filter,
.category-filter {
    margin-bottom: 10px; /* Añade espacio entre secciones del filtro */
}

button {
    background-color: #4CAF50; /* Color de fondo del botón (ajusta según sea necesario) */
    color: white; /* Color del texto del botón */
    padding: 10px; /* Añade espacio interno al botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para las etiquetas "Nuevo" */
.card-item__tag {
    background-color: red; /* Fondo rojo */
    color: white; /* Texto blanco */
    padding: 5px 10px; /* Añade espacio interno a la etiqueta */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para la tabla de productos */
.product-table {
    width: 80%; /* Ancho de la tabla, ajusta según sea necesario */
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
    margin-left: 5px; /* Añade espacio entre el filtro y la tabla */
}

/* Estilos para la lista de productos */
.product-list {
    width: 80%; /* Ancho de la lista, ajusta según sea necesario */
    margin-left: 5px; /* Añade espacio entre el filtro y la lista */
    display: flex; /* Usa flexbox para organizar los productos en una fila */
    flex-wrap: wrap;/* Permite que los productos se envuelvan en la siguiente línea */
    gap: 10px;  /* Distribuye uniformemente los productos en la fila */
    
}

.product-table td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 10px; /* Añade espacio interno a las celdas */
    text-align: center; /* Centra el texto en las celdas */
    flex: 0 0 calc(100% / 3); /* Tamaño de las columnas */
}

.product-item {
    width: 30%; /* Ancho de cada producto, ajusta según sea necesario */
    margin-bottom: 20px; /* Espacio entre productos */
    float: left; /* Coloca los productos en una fila */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.product-table img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
}

/* Clearfix para evitar colapsar márgenes */
.main-container::after {
    content: "";
    display: table;
    clear: both;
}





/* footer */
.footer {
    max-width: 100%;
    background-color: #333;

    padding: 20px;

    text-align: center;

    color: #fff;

    display: flex;

    justify-content: space-between;

    align-items: center;
    clear: none;
}


.footer ul {

    list-style-type: none;

    padding: 0;

}


.footer ul li {

    display: inline;

    margin: 0 10px;

}


.footer ul li a {

    color: #fff;

    text-decoration: none;

}


.footer ul li a:hover {

    text-decoration: underline;

}





@media (min-width: 768px) {
    .product {
        width: calc(33.33% - 20px);
    }

    .filter {
        max-width: 300px;
        margin-right: 20px;
    }
}